.value-color,
.value-multicolor {
  display: inline-block;
  border: 1px solid #ccc;
  width: 16px;
  height: 16px;
  border-radius: 4px;
  margin-left: 4px;
  margin-top: -2px;
  vertical-align: middle;
}

.value-multicolor {
  background-image: url(../images/multicolor.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 100%;
}

.select2-container .select2-selection--single {
  height: 34px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 32px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 32px;
}

.top-menu {
  min-height: 44px;
}

.top-menu .navbar-brand {
  height: auto;
  padding-top: 11px;
  padding-bottom: 11px;
}

.top-menu .navbar-brand:hover,
.top-menu .navbar-brand:focus {
  color: #000;
}

.top-menu .nav > li {
  font-size: 13px;
}

.top-menu .nav > li > a:hover,
.top-menu .nav > li > a:focus {
  background-color: #eee;
}

.top-menu .nav > li > a {
  padding: 12px 10px;
}

.top-menu .nav > li > .lang-swicher {
  padding-left: 7px;
  padding-right: 7px;
}

.top-menu .nav .dropdown-menu a .badge {
  color: #fff;
  background-color: #428bca;
}

.top-menu .nav .dropdown-menu a:hover .badge {
  color: #337ab7;
  background-color: #fff;
}

.search-form {
  margin: 20px 0;
}

.search-form a {
  margin-left: 6px;
}

.table-data td {
  vertical-align: middle !important;
}

.check-toggle {
  margin-right: 8px;
}

.check-toggle span {
  border-bottom: 1px dotted;
  cursor: pointer;
}

.check-toggle:hover {
  color: #2a6496;
}

.pages .pagination {
  margin-top: 0;
}

.lang-tabs .nav li a {
  padding: 5px 10px;
}

.lang-tabs .tab-pane {
  padding-top: 7px;
}

.table-label {
  position: relative;
  margin-left: 2px;
  top: -1px;
}

.del-program {
  padding: 5px 0 0;
}

.del-program > a {
  display: inline-block;
  vertical-align: middle;
}

.del-program-tip {
  display: inline-block;
  position: relative;
  margin-left: 4px;
  top: -1px;
  vertical-align: middle;
}

.add-program button {
  margin-left: 25%;
  margin-bottom: 20px;
}

.btn-insert-link {
  position: fixed;
  margin-top: -51px;
  top: 50%;
  right: 20px;

  border-radius: 4px;
  -webkit-box-shadow: 0 1px 8px rgba(0,0,0,.15);
          box-shadow: 0 1px 8px rgba(0,0,0,.15);
}

.btn-insert-link button:last-child .glyphicon:after {
  content: '';
  display: block;
  position: absolute;
  border: 1px solid #fff;
  border-bottom: 0;
  height: 2px;
  background-color: #000;
  margin-top: -1px;
  top: 50%;
  left: -2px;
  right: -2px;
}

.btn-insert-link button:last-child:hover .glyphicon:after,
.btn-insert-link button:last-child:focus .glyphicon:after {
  border-color: #e6e6e6;
}

/*.form-control.select2 {
  height: 34px;
}*/

.control-required {
  position: relative;
}

.control-required:after {
  content: '*';
  display: inline-block;
  position: absolute;
  top: 2px;
  right: 0;
  color: #3030ef;
  font-size: 22px;
  font-weight: 700;
}

.photos-list > li {
  vertical-align: top;
}

.pl-thumb {
  cursor: move;
}

.photos-list .pl-placeholder {
  width: 100px;
  height: 117px;
}

.pl-placeholder:before {
  content: '';
  display: block;
  border: 1px dashed #ccc;
  height: 90px;
}

/* Регистрация
-------------------------------------------------- */

.registration {
  max-width: 380px;
  margin: 0 auto;
  padding: 0 15px;
}

.reg-inputs input {
  position: relative;
  padding: 10px 12px;
  height: auto;
  margin-top: -1px;
  z-index: 1;
}

.reg-name {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.reg-password {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.reg-inputs input:focus {
  z-index: 2;
}

.redactor-editor blockquote {
    border: 2px solid #0006f5;
    padding-left: 20px;
    margin-left: 0 !important;
    color: #333;
    font-style: normal !important;
    font-weight: 700;
    text-transform: uppercase;
}

.redactor-formatting-p-big-font,
.big-font {
  font-weight: 700;
  text-transform: uppercase;
}

/* Sticky footer styles
-------------------------------------------------- */

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
.wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -40px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
.footer {
  height: 40px;
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #f5f5f5;
}